# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
env/
venv/
ENV/
.venv
.python-version

# Django artifacts
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Data directories
documents/
vector_db/ 